@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HellojQuery</title>
</head>
<body>


    產品名稱：<input type="text" name="Product" value="" id="Product" /> <br />
    產品價格：<input type="text" name="Price" value="" id="Price" /> <br />
    產品數量：<input type="number" name="Number" value="" id="Number" /> <br />
    您購買了<span id="spanProduct"></span>，價格為 <span id="spanPrice"></span>，
    <span id="spanNumber"></span>個，共<span id="spanTotal"></span>元


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var Calculate = function () {
            var result = parseInt($('#spanPrice').html()) * parseInt($('#spanNumber').html());
            $('#spanTotal').html(result);
        };

        $(function () {
            $('#Product').change(function () {
                $('#spanProduct').html($(this).val());
            });

            $('#Price').change(function () {
                $('#spanPrice').html($(this).val());
                Calculate();
            });

            $('#Number').change(function () {
                $('#spanNumber').html($(this).val());
                Calculate();
            });
        });
    </script>
</body>
</html>
