@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="helloCtrl">
    <div>
        <h1>購買商品</h1>
        產品名稱：<input type="text" ng-model="name" /> <br />
        產品價格：<input type="text" ng-model="price" /> <br />
        產品數量：<input type="number" ng-model="number" /> <br />
        您購買了{{ name }}，價格為 {{ price }}，{{ number }}個，共{{ price * number | currency }}元 <br />
        <button ng-click="addList()">加入</button>
        <div>
            <table>
                <tr ng-repeat="p in products">
                    <td>{{ p.name }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.number }}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
    <h1>Directive</h1>
    <study4header></study4header>
    <hr />
    <h1>Angular.js Controller Get Ajax Data</h1>
    <div>
        <div ng-repeat="item in model">
            {{ item }}
        </div>
    </div>
    <hr />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/directives/study4-header.js"></script>
    <script src="~/App/services/hello-service.js"></script>
    <script>
        app.controller('helloCtrl', function ($scope, $http) {
            $http.get('/api/Hello').success(function (data, status, headers, config) {
                $scope.model = data;
            });
            $scope.products = [];
            $scope.addList = function () {
                $scope.products.push({
                    name: $scope.name,
                    price: $scope.price,
                    number: $scope.number,
                });
                $scope.name = '';
                $scope.price = '';
                $scope.number = '';
            };
        });
    </script>
</body>
</html>
